'.source.js':
	'Apex filter constructor':
		'prefix': 'ngft'
		'body': """
			(function() {
				"use strict";

				angular.module("${1:moduleName}")
						.filter("${2:filterName}", ${2});

				.$inject = [
					"$3"
				];

				function ${2}(

				) {

				}
			})();
			"""
