'.source.js':
	'Apex parser constructor':
		'prefix': 'ngp'
		'body': """
			(function() {
				"use strict";

				angular.module("${1:moduleName}")
						.directive("${2:directiveName}", ${2});

				$2.$inject = [
					"$3"
				];

				function ${2}(

				) {
						return {
								require: "ngModel",
								link: function(scope, element, attrs, ngModelController) {
										ngModelController.$parsers.push(function(value) {
												return String(value);
										});
								}
						};
				}
			})();
			"""
