'.source.js':
	'Apex controller constructor':
		'prefix': 'ngc'
		'body': """
			(function() {
				"use strict";

				angular.module("${1:moduleName}")
						.controller("${2:controllerName}", ${2});

				$2.$inject = [
					"$3"
				];

				function ${2}(

				) {
						var ctrl = this;
						ctrl.helloWorld = function() {
							console.log("Hello World");
						};
				}
			})();
			"""
